body {
	background-color: #f8f9fa;
}

#MainHeader {
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px; 
	background-color: #007BFF;
	border-radius: 6px;
} 

#SecHeader {
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px; 
	background-color: #088A08;
	border-radius: 6px;
}

#CertHeader {
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px; 
	background-color: #B40404;
	border-radius: 6px;
}

.Header {
	color: #007BFF;
	padding-bottom: 30px;
} 

.Intro {
	margin-left: 40px;
	margin-right: 40px;
} 

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}

.Paragraph{
	padding-bottom: 30px;
} 

.row{
	padding-bottom: 25px;
} 

.column {
	float: left;
	width: 50%;
	padding: 5px;
} 

.Project_Section {
	margin-left: 40px;
	margin-right: 40px;
}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* xs */
img {
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
  #MainHeader, #SecHeader, #CertHeader {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  div.SecondaryBody {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .SecH3 {
    font-size: 13px;
  }
}